.vs/

*.vcxproj.use

[Dd]ebug/
[Rr]elease/
x64/
x86/
build/

*.exe
*.dll
*.lib
*.pdb
*.obj
*.ilk
*.exp


*.pch


*.log
*.tlog
*.lastbuildstate
*.unsuccessfulbuild


*.sdf
*.opensdf
*.ipch


*.suo
*.user
*.userosscache
*.sln.docstates


TestResults/